<a href="https://colab.research.google.com/github/Jeonkyoungyong/bigdata/blob/main/9%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_2_XML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#엑셀데이터

import pandas as pd
import xml.etree.ElementTree as ET

#XML파일경로
xml_file_path = "/content/drive/MyDrive/빅데이터 9주차/과제/countries+states.xml"

#XML 파일 읽기
tree = ET.parse(xml_file_path)

#루트요소 가져오기
root = tree.getroot()

#특정요소 목록 가져오기
elements = root.findall('country_state')

#dataframe 생성
df = pd.DataFrame(columns=['name', 'capital', 'currency', 'region'])

#각ㅇ소를 Dataframe에 추가
for element in elements:
  row = {
      'name' : element.find('name').text,
      'capital' : element.find('capital').text,
      'currency' : element.find('currency').text,
      'region' : element.find('region').text,
  }
  new_df = pd.DataFrame([row], columns=df.columns)
  df = pd.concat([df, new_df], ignore_index=True)

  #DataFrame 정보 출력
  print(df.info())

  #DataFrame 상위 5개 행 출력
  print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      1 non-null      object
 1   capital   1 non-null      object
 2   currency  1 non-null      object
 3   region    1 non-null      object
dtypes: object(4)
memory usage: 160.0+ bytes
None
          name capital currency region
0  Afghanistan   Kabul      AFN   Asia
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      2 non-null      object
 1   capital   2 non-null      object
 2   currency  2 non-null      object
 3   region    2 non-null      object
dtypes: object(4)
memory usage: 192.0+ bytes
None
            name    capital currency  region
0    Afghanistan      Kabul      AFN    Asia
1  Aland Islands  Mariehamn      EUR  Europe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      3 non-null      object
 1   capital   3 non-null      object
 2   currency  3 non-null      object
 3   region    3 non-null      object
dtypes: object(4)
memory usage: 224.0+ bytes
None
            name    capital currency  region
0    Afghanistan      Kabul      AFN    Asia
1  Aland Islands  Mariehamn      EUR  Europe
2        Albania     Tirana      ALL  Europe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      4 non-null      object
 1   capital   4 non-null      object
 2   currency  4 non-null      object
 3   region    4 non-null      object
dtypes: object(4)
memory usage: 256.0+ bytes
None
            name    capital currency  region
0    Afghanistan      Kabul      AFN    Asia
1  Aland Islands  Mariehamn      EUR  Europe
2        Albania     Tirana      ALL  Europe
3        Algeria    Algiers      DZD  Africa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      5 non-null      object
 1   capital   5 non-null      object
 2   currency  5 non-null      object
 3   region    5 non-null      object
dtypes: object(4)
memory usage: 288.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      6 non-null      object
 1   capital   6 non-null      object
 2   currency  6 non-null      object
 3   region    6 non-null      object
dtypes: object(4)
memory usage: 320.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7 non-null      object
 1   capital   7 non-null      object
 2   currency  7 non-null      object
 3   region    7 non-null      object
dtypes: object(4)
memory usage: 352.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      8 non-null      object
 1   capital   8 non-null      object
 2   currency  8 non-null      object
 3   region    8 non-null      object
dtypes: object(4)
memory usage: 384.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      9 non-null      object
 1   capital   8 non-null      object
 2   currency  8 non-null      object
 3   region    9 non-null      object
dtypes: object(4)
memory usage: 416.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   capital   9 non-null      object
 2   currency  9 non-null      object
 3   region    10 non-null     object
dtypes: object(4)
memory usage: 448.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      11 non-null     object
 1   capital   10 non-null     object
 2   currency  10 non-null     object
 3   region    11 non-null     object
dtypes: object(4)
memory usage: 480.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      12 non-null     object
 1   capital   11 non-null     object
 2   currency  11 non-null     object
 3   region    12 non-null     object
dtypes: object(4)
memory usage: 512.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      13 non-null     object
 1   capital   12 non-null     object
 2   currency  12 non-null     object
 3   region    13 non-null     object
dtypes: object(4)
memory usage: 544.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      14 non-null     object
 1   capital   13 non-null     object
 2   currency  13 non-null     object
 3   region    14 non-null     object
dtypes: object(4)
memory usage: 576.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      15 non-null     object
 1   capital   14 non-null     object
 2   currency  14 non-null     object
 3   region    15 non-null     object
dtypes: object(4)
memory usage: 608.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      16 non-null     object
 1   capital   15 non-null     object
 2   currency  15 non-null     object
 3   region    16 non-null     object
dtypes: object(4)
memory usage: 640.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      17 non-null     object
 1   capital   16 non-null     object
 2   currency  16 non-null     object
 3   region    17 non-null     object
dtypes: object(4)
memory usage: 672.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      18 non-null     object
 1   capital   17 non-null     object
 2   currency  17 non-null     object
 3   region    18 non-null     object
dtypes: object(4)
memory usage: 704.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      19 non-null     object
 1   capital   18 non-null     object
 2   currency  18 non-null     object
 3   region    19 non-null     object
dtypes: object(4)
memory usage: 736.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      20 non-null     object
 1   capital   19 non-null     object
 2   currency  19 non-null     object
 3   region    20 non-null     object
dtypes: object(4)
memory usage: 768.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      21 non-null     object
 1   capital   20 non-null     object
 2   currency  20 non-null     object
 3   region    21 non-null     object
dtypes: object(4)
memory usage: 800.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      22 non-null     object
 1   capital   21 non-null     object
 2   currency  21 non-null     object
 3   region    22 non-null     object
dtypes: object(4)
memory usage: 832.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      23 non-null     object
 1   capital   22 non-null     object
 2   currency  22 non-null     object
 3   region    23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      24 non-null     object
 1   capital   23 non-null     object
 2   currency  23 non-null     object
 3   region    24 non-null     object
dtypes: object(4)
memory usage: 896.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      25 non-null     object
 1   capital   24 non-null     object
 2   currency  24 non-null     object
 3   region    25 non-null     object
dtypes: object(4)
memory usage: 928.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      26 non-null     object
 1   capital   25 non-null     object
 2   currency  25 non-null     object
 3   region    26 non-null     object
dtypes: object(4)
memory usage: 960.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      27 non-null     object
 1   capital   26 non-null     object
 2   currency  26 non-null     object
 3   region    27 non-null     object
dtypes: object(4)
memory usage: 992.0+ bytes
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      28 non-null     object
 1   capital   27 non-null     object
 2   currency  27 non-null     object
 3   region    28 non-null     object
dtypes: object(4)
memory usage: 1.0+ KB
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      29 non-null     object
 1   capital   28 non-null     object
 2   currency  28 non-null     object
 3   region    29 non-null     object
dtypes: object(4)
memory usage: 1.0+ KB
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      30 non-null     object
 1   capital   29 non-null     object
 2   currency  29 non-null     object
 3   region    30 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      31 non-null     object
 1   capital   29 non-null     object
 2   currency  30 non-null     object
 3   region    30 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB
None
             name    capital currency   region
0     Afghanistan      Kabul      AFN     Asia
1   Aland Islands  Mariehamn      EUR   Europe
2         Albania     Tirana      ALL   Europe
3         Algeria    Algiers      DZD   Africa
4  American Samoa  Pago Pago      USD  Oceania
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31